### Test Connection

In [40]:
import psycopg2

# Define connection parameters
server = 'localhost'  # Your PostgreSQL server address (or IP)
database = 'postgres'  # Your PostgreSQL database name
username = 'postgres'  # Your PostgreSQL username
password = 'postgres'  # Your PostgreSQL password
port = '5432'  # Default PostgreSQL port

# Create a connection to the PostgreSQL database
try:
    connection = psycopg2.connect(
        host=server,
        database=database,
        user=username,
        password=password,
        port=port
    )

    # Create a cursor object
    cursor = connection.cursor()

    # Test connection by running a simple query
    cursor.execute("SELECT * from rides order by 1 desc;")
    result = cursor.fetchone()
    print("Connection successful:", result)

    # Close cursor and connection
    cursor.close()
    connection.close()

except Exception as e:
    print(f"Connection failed: {e}")

Connection successful: ('parcel', datetime.date(2024, 7, 3), datetime.time(11, 24, 53), 'completed', 'Rajajinagar Quarters', 'Peenya Track', datetime.timedelta(0), 'RD6253444012084127', Decimal('15.36'), Decimal('536.72'), Decimal('45.50'), Decimal('582.22'), 'QR scan')

In [39]:
import pandas as pd

# Query to extract data
query = "SELECT * FROM Rides Limit 3"

# Read data into a Pandas DataFrame
df = pd.read_sql(query, engine)

# Check the extracted data
display(df.head())

,services,date,time,ride_status,source,destination,duration,ride_id,distance,ride_charge,misc_charge,total_fare,payment_method
0,cab economy,2024-07-15,08:30:40,completed,Balagere Harbor,Harohalli Nagar,0 days 00:00:00,RD3161218751875354,27.21,764.83,31.51,796.34,Amazon Pay
1,auto,2024-07-05,23:36:51,completed,Basavanagudi 3rd Block,Bikasipura 1st Stage,0 days 00:01:00,RD8171514284594096,34.03,314.83,49.52,364.35,Paytm
2,auto,2024-07-23,11:05:37,cancelled,Babusapalya Cove,Kothaguda Terrace,0 days 00:00:00,RD9376481122237926,20.24,NaN,NaN,NaN,nan